
.main-news{
    margin: 0 10%; 
    justify-content: center;
    
  text-align: center;
}

.top-headlines{
    text-align: center;

}
.title{
  font-size: 1.8rem;
  font-weight: 900;
  margin:15px;
  color:skyblue
}

.headline-news{
     
    width: 100%;
    height: max-content;
    margin-top: 30px; 
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    background: #000;
    padding: 10px;
    color: #fff;
    font-size: 1.3rem;
    box-shadow: 10px 10px 10px #000;
}
.news-img{
  max-width: 600px;
  max-height: 400px ;
}
@media screen and (max-width:500px) {
  .title{
    font-size: 1.5rem;

  }
  .headline-news{
    font-size: 1.2rem;
  }
}

.category{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  text-decoration:none;
  margin-top: 40px;
}

.explaine-area{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: xx-large;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  margin: 40px;
  text-align:center;
  color:#474750;
  font-size: 1.8rem;
  
}
#read-your-fav{
  font-family: monospace,Helvetica;
}
#how-it-works{
font-size: 2.5rem;
}
.declaration{
  width:30%;
  margin-top:50px;
}
.declare-img{
  background:url('https://cdn.pixabay.com/photo/2016/11/30/12/16/question-mark-1872665_960_720.jpg') no-repeat;
  background-size: cover; 
  background-position: center;
  width:60%;
  height:500px;
  margin-top: 20px;
  animation: changeImageForDeclare 10s infinite;
  font-family:cursive,Helvetica;
  font-style:italic;
  color:#fff;
  text-align: center;
  font-size: 2.5rem;
  
  }
  .img-over{
    margin-top: 30px;
  }
  @media screen and (max-width:600px) {
    
    .img-over{
      margin-top: 50px;

    }
  }

  @keyframes changeImageForDeclare{

    60%{
      background: url('https://cdn.pixabay.com/photo/2016/10/09/08/32/digital-marketing-1725340_960_720.jpg') no-repeat;
      background-position: center;
      color:#000;
      text-align: center;
    }
  }

  .form-control{
    font-size: 1.6rem;
    font-family: cursive,Helvetica;
    font-style: italic;
    font-weight: 900;
     text-align: center;
     position: sticky;
     top: 0px;
     padding:10px;
     background-color: #fff;

  }
   .search-bar{
     width: 300px;
     height: 30px;
     margin-top: 10px;
   }
.search-btn{
     font-size: 18px;
     width:max-content;
     font-weight: bold;
     height:30px;
     margin: 10px;
}

.scroll-up{
  max-width: 100px;
  max-height: 100px;
  background: #000;
  color:skyblue;
  padding:10px;
  font-size: 50px;
  position: fixed;
  right:30px;
  bottom: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

@media screen and (max-width:800px) {
  
  .news-img{
    max-width: 300px;
    max-height: 200px;
  }
  .form-control{
    display: flex;
    flex-direction: column;
     text-align:center;
     justify-content: center;
     align-items: center;
    height: 80px;
    padding: 5px;

  }
  .search-btn{
    font-size: 16px;
  }
  .scroll-up{
    right: 20px;
    bottom: 20px;
    border:1px solid rgb(65, 63, 63);
  }
}

