*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.footer-area{
    background: #000;
    color:#fff;
    margin-top:60px ;
    padding:30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    text-decoration: none;
}
.footer-links{
    margin-top:10px;
    text-decoration: none;
    color:#fff;
    font-size: 1.3rem;
    text-decoration:none;
    color:#fff;
}
.footer-links:hover{
  color: blue;
}
.footer-privacy{
    display:flex;
    flex-direction:column;
   
}
.footer-contact{
    display:flex;
    flex-direction:column;
    
}
.me{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:start;
    text-align: center;
    
}

.jithendra{
   max-width:60px;
   max-height:50px;
    border: 2px solid #fff; 
   border-radius: 50%; 
    filter: brightness(120%);
}
.my-name{
    font-family:monospace,Helvetica;
    margin: 20px;
    text-align: center;
    font-size: 1.7rem;
    font-style:italic;
    
}
.copy-right{
    font-size: 1.4rem;
}

@media screen and (max-width:800px) {
    .footer-area{
    height: 80vh;    
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
}
